<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!-- Two type of "scope" 1. Singleton and 2.Prototype-->
    <bean id="alien1" class="org.learn.app.Alien" scope="prototype">
    </bean>

<!--    <bean id="alien2" class="org.learn.app.Alien">-->
<!--    </bean>-->

    <bean id="lap" class="org.learn.app.Laptop">
    </bean>

</beans>