<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- Two type of "scope" 1. Singleton and 2.Prototype-->
    <!--    <bean id="alien1" class="org.learn.app.Alien" scope="prototype"></bean>-->

    <bean id="alien1" class="org.learn.app.Alien" autowire="byType">

            <property name="age" value="24"/>
            <property name="com" ref="com1"/>

<!--        <constructor-arg type="org.learn.app.Laptop" ref="lap1"/>-->
<!--        <constructor-arg value="25"/>-->

<!--        <constructor-arg index="1" ref="lap1"/>-->
<!--        <constructor-arg index="0" value="25"/>-->

<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="25"/>-->



    </bean>

    <!--    <bean id="alien2" class="org.learn.app.Alien">-->
    <!--    </bean>-->

    <bean id="com1" class="org.learn.app.Laptop" primary="true">
    </bean>

    <bean  class="org.learn.app.Desktop" lazy-init="true">
    </bean>

</beans>